body {
  background-color: #eee !important;
}

.custom-card {
  width: 100%;
  margin-bottom: 15px;
}

.card-button {
  float: right;
}

div.menus {
  background-color: white;
  padding: 20px;
  border-radius: 3px;
  border: 1px solid lightgray;
}

div.menus img {
  margin-bottom: 20px;
}

div.menus a {
  display: block;
  text-decoration: none;
  margin-bottom: 5px;
  color: black;
}

.card-button-item {
  margin-right: 5px;
}

.text-align-center {
  text-align: center;
  margin: 0;
  padding-bottom: 20px;
}

.form-filter select {
  display: inline-block;
  margin-right: 10px;
}

.error {
  color: red;
}

.div-form {
  background: white;
  padding: 10px;
  border-radius: 1px;
  border: 1px solid lightgrey;
}
